* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primario: rgba(216, 92, 15, 0.986);
  --color-secundario: rgba(101, 165, 67, 0.822);
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secundario);
}

.logo {
  height: auto;
  max-height: 100px;
  padding-left: 3rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  text-align: center;
  margin-right: 6rem;
}

.header-nav {
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 3rem;
}

.header-nav ul {
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

/* RECIPES PAGE */

.pop-up-page {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(150, 151, 151, 0.653);
  padding: 6px;
  border: solid 1px black;
  max-width: 70%;
}

.pop-up-page.hidden {
  display: none;
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tab {
  flex: 1;
  padding: 2rem;
  margin: 1px;
  background-color: #a29e9e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 5px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.content-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  background-color: rgb(176, 172, 172);
}

.content-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  align-self: center;
}

.tab-content {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.recipe-details p {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  text-align: center;
}

/* OCULTOS */

.tab.active {
  display: block;
  background-color: var(--color-primario);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* MENU PAGE */

.back-photo {
  max-width: 100%;
  height: auto;
}

.index-main {
  display: grid;
  grid-template-areas:
    "welcome welcome"
    "image buttons";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.welcome-text {
  grid-area: welcome;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.back-photo-container {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.button-container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-container button {
  padding: 1rem;
  background-color: var(--color-primario);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  transition: font-size 0.3s ease-in-out;
}

.button-container button:hover {
  font-size: 2.5rem;
}

/* RECIPE CARDS */

main {
  display: flex;
  flex-direction: column;
}

main h2 {
  display: block;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.recipes-grid {
  display: grid;
  min-width: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.recipes-grid.hidden {
  display: none;
}

.recipe-card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.recipe-card h3 {
  margin: 1rem 0 0.5rem;
}

.recipe-card p {
  margin: 0.25rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-secundario);
  color: white;
  font-family: "Playfair Display", serif;
}

/* FAVORITE BUTTON */

.favorite-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.3);
}

.favorite-btn.active {
  color: red;
}
